<div class="auth-container">
  <h2>Register</h2>

  <p *ngIf="message" class="error-message">{{ message }}</p>

  <form (ngSubmit)="handleSubmit()">
    <input
      type="text"
      placeholder="Name ..."
      [(ngModel)]="formData.name"
      name="name"
      required
    />
    <input
      type="email"
      placeholder="Email ..."
      [(ngModel)]="formData.email"
      name="email"
      required
    />
    <input
      type="password"
      placeholder="Password ..."
      [(ngModel)]="formData.password"
      name="password"
      required
    />
    <input
      type="number"
      placeholder="Phone Number ..."
      [(ngModel)]="formData.phoneNumber"
      name="phoneNumber"
      required
    />

<label for="role">Select Role</label>
<select id="role" name="role" [(ngModel)]="formData.role">
  <option value="">-- Select Role --</option>
  <option value="MANAGER">Manager</option>
  <option value="ADMIN">Admin</option>
</select>



    <button type="submit">Register</button>
  </form>

  <p>Already have an account? <a routerLink="/login" routerLinkActive="router-link-active">Login</a></p>
</div>
